* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1080px;
}



.search {
    margin: 0px auto;
    max-width: 1050px;
    text-align: center;
    
}

input {
    height: 50px;
    width: 500px;
    max-width: 1080px;
    margin: 20px auto;
    border-radius: 8px;
    border: 2px solid rgb(204, 204, 204);
    padding-left: 10px;
  }

  input::placeholder {
      color: rgb(148, 148, 148) ;

  }


.gallery {
    max-width: 850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}